# Mounts
mounts/*/*

# installation files
*.deb
*.zip
prep/installations/others/*

# Environment
*.env
!template.env

# Secrets
secret

# Empty directories
!.gitkeep

# Documentation
!*.md

# MacOS
.DS_Store